/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Playfair Display',  */

/* background-color: #262B46 */

.aboutBackground {
    background-color: #262B46;
    padding: 10vh 5vh 3vh 5vh;
    color: white;
}

.aboutUs {
    padding-bottom: 10vh;
    font-size: 3em;
    font-family: 'Playfair Display', sans-serif;
}

.pSize {
    font-size: 15px;

}

.pAbout {
    font-family: 'Montserrat', sans-serif;
    display: block;
}

.flexAbout {
    display: flex;
}

.aboutImg {
    width: 95%;
    padding-bottom: 3vh;
}

.aboutCard1 {
    display: inline-block;
    padding: 10px;
}

@media only screen and (max-width:390px) {

    .flexAbout{
        display: grid;
        font-size:14px ;
    }
}
