.recipeContainer {
    display: flex;
    padding: 2vw;
    align-items: center;
}

.imageRecipe {
    width: 240px;
    align-items: baseline;
    border-radius: 10px;
}

.heading {
    font-size: 28px;
}

.divIngerdients {
    padding: 2vh;
}

.articleRecipe {
    display: grid;
    grid-template-columns: 20% 80%;
    width: 50vw;
    padding: 3vh;
    line-height: 1.5em;
}

@media only screen and (max-width:420px) {


    .imageContainer {
        justify-content: center;
    }

    .recipeContainer {
        justify-content: center;
        display: grid;
        text-align: center;
        font-size: 12px;
    }

    .imgRecipeDiv {
        justify-content: center;
        display: flex;
    }

    .articleRecipe {
        display: grid;
        grid-template-columns: 50% 50%;
        width: 80vw;
        line-height: 1.5em;
    }


}