.popup1 {
    width: 50%;
    height: 50vh;
    background-color: #262B46;
    border-radius: 25px;
    box-shadow: 0 3rem 3rem rgb(0 0 0 / 10%);
    left: 50%;
    max-height: calc(100vh - 200px);
    position: fixed;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 90%;
    z-index: 3;
}

.pAnimation1 {
    text-align: right;
    padding-right: 2vh;
    padding-top: 2vh;
    cursor: pointer;
}

.divAnimation1 {
    padding: 2vw;
}

.popup1 img {
    width: 100%;
}


@media only screen and (max-width:420px) {

    .popup1 img {
        width: 100%;
        padding: 3%;
        margin-right: 10%;

    }

    .popup1 {
        /*  max-height: 110vh; */
        font-size: 2em;
        width: 90vw;
        left: 30%;
        height: 30vh;
    }

}