.popup {
    max-width: 1440px;
    background-color: #262B46;
    border-radius: 25px;
    box-shadow: 0 3rem 3rem rgb(0 0 0 / 10%);
    left: 50%;
    max-height: calc(100vh - 200px);
    position: fixed;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 90%;
    z-index: 3;
}

.pAnimation {
    text-align: right;
    padding-right: 2vh;
    padding-top: 2vh;
    cursor: pointer;
}

.divAnimation {
    padding: 2vw;
}

/* 
.popup-inner {
    position: relative;
    padding: 32px;
    width: 100%;
    max-width: 640px;
    background-color: azure;
}

.popup-inner .close-btn {
    position: absolute;
    top: 16px;
    right: 16px;
} */

@media only screen and (max-width:390px) {
    
        body{
            font-size: 0.5em;
        }
    
    
}