.backgroundAdd {
    background-color: #262B46;
    padding-left: 5vh;
    padding-right: 5vh;
}

.h3Add {
    color: white;
    font-family: 'Playfair Display', serif;
    margin-bottom: 5vh;
    font-size: 32px;

}

.addFlex {
    display: flex;
    justify-content: space-between;
    padding-right: 45vw;

}

.inputList input {
    display: block;
    margin: 1vh;
    padding: 6px 30px;
}

.inputList button {
    padding: 6px 84px;
    margin-top: 20px;
    margin-left: 3.5%;
    border-radius: 6px;
    border: #262B46;
    background-color: #6FC3DF;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    cursor: pointer;
    width: 293px;
}

.imgRight {
    display: flex;
}

.imgContainerCocktails {
    flex-direction: column;
    padding-left: 76px;
}

.imgCocktails1 {
    padding-bottom: 18px;
    padding-right: 22px;
}

.imgCocktails2 img {
    padding-left: 42px;
}


.inputList input:placeholder-shown {
    font-family: 'Montserrat', sans-serif;
    color: #262B46;
    width: 293px;
}

.inputList input:nth-of-type(1) {
    background-color: #6FC3DF;
}

.inputList input:nth-of-type(2) {
    background-color: #8D82C4;
}

.inputList input:nth-of-type(3) {
    background-color: #EC8D81;
}

.inputList input:nth-of-type(4) {
    background-color: #E7B788;
    height: 90px;
}

.inputList input:nth-of-type(5) {
    background-color: #8EA9E8;
}

.inputList input:nth-of-type(6) {
    background-color: #87C5A4;
}

.inputList input:nth-of-type(7) {
    background-color: #6FC3DF;
}

.inputList input:nth-of-type(8) {
    background-color: #8D82C4;
}

.inputList input:nth-of-type(9) {
    background-color: #EC8D81;
}

.inputList input:nth-of-type(10) {
    background-color: #E7B788;
}

@media only screen and (max-width:420px) {


    .imgRight {
        display: none;
    }
}