.contactBackground {
    background-color: #262B46;
    color: white;
    padding-top: 20vh;
    font-family: 'Montserrat', sans-serif;
    margin-left: 5vw;
    margin-right: 5vw;
}

.h3Contact {
    font-family: 'Playfair Display';
    font-size: 3em;
    padding-bottom: 8vh;
    padding-left: 10%;
}

.pContact {
    padding-bottom: 8vh;
    padding-left: 10%;
    font-family: 'Montserrat', sans-serif;
    padding-right: 10%;
}

.contactBackground img {
    height: 20vh;
    display: flex;
    padding-left: 30%;
}

.formContact {
    padding-left: 30%;
    padding-top: 8vh;
}

.contactInput1 {
    display: block;
    background-color: #84879a;
    border-radius: 5px;
    border: #84879a;
}

.contactInput2 {
    display: block;
    background-color: #84879a;
    border-radius: 5px;
    border: #84879a;
}

.contactInput3 {
    display: block;
    padding: 80px;
    background-color: #84879a;
    border-radius: 5px;
    border: #84879a;
}

.btnContact {
    background-color: #84879a;
    padding: 7px 50px;
    margin-top: 2vh;
    border: #84879a;
    border-radius: 5px;
    color: white;
}

.h3Contact {
    font-size: 2em;
    line-height: 3em;
}

.pContact {
    padding-bottom: 30px;
}

.formContact {
    padding-top: 20px;
}

.ContactLabel {
    padding: 5px;
}

@media only screen and (max-width:390px) {
    .contactBackground {
        font-size: 13px;
        display: grid;
        margin-left: 0;
    }
}