.contactBackground {
    background-color: #262B46;
    color: white;
    font-family: 'Montserrat', sans-serif;
    margin-left: 5vw;
    margin-right: 5vw;
}

.h3Contact {
    font-family: 'Playfair Display';
    font-size: 3em;
    padding-bottom: 8vh;

}

.pContact {
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    width: 30vw;
    padding-bottom: 10vh;
    margin: auto;
}

.formContact {
    padding-left: 30vw;
}

.contactInput {
    display: block;
    background-color: #84879a;
    border-radius: 5px;
    border: #84879a;
    width: 200px;
    line-height: 25px;
}

.contactTextArea {
    display: block;
    height: 100px;
    width: 200px;
    background-color: #84879a;
    border-radius: 5px;
    border: #84879a;
}

.btnContact {
    background-color: #84879a;
    padding: 7px 50px;
    margin-top: 2vh;
    border: #84879a;
    border-radius: 5px;
    color: white;
}

.h3Contact {
    font-size: 2em;
    line-height: 3em;
}

.ContactLabel {
    line-height: 30px;
}

@media only screen and (max-width:420px) {
    .contactBackground {
        font-size: 13px;
        display: grid;
    }
    .formContact {
        margin: auto;
        padding-left: 0;
        padding-top: 1vh;
    }

    .pContact {
        font-family: 'Montserrat', sans-serif;
        text-align: justify;
        width: 60vw;
        padding-bottom: 5vh;
        margin: auto;
    }
}