.sectionHome {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

a {
    color: white;
    text-decoration: none;
}


@media only screen and (max-width:390px){
    .sectionHome {
        display: grid;
        grid-template-columns: 1fr;
        font-size: 18px;
    }

    .right {
        text-align: right;
    }
}