.sectionHome {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.articleHome {
    display: flex;
    flex-direction: column;

}

a {
    color: white;
    text-decoration: none;
}

.style1 {
    display: flex;
    flex-direction: column;
}

.style2 {
    display: flex;
    flex-direction: column;

}

.style3 {
    display: flex;
    flex-direction: column;

}

.style4 {
    display: flex;
    flex-direction: column;
}

.style5 {
    display: flex;
    flex-direction: column;
}

.style6 {
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width:390px){
    .sectionHome {
            display: grid;
            grid-template-columns: 1fr;
            font-size: 18px;
        }

    .right{
        text-align: right;
    }
}