
.cocktailContainer {
    background-color: #262B46;
    padding: 10px;
    overflow: hidden;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: white;
    display: inline;
    font-weight: bold;
    text-align: center;
    writing-mode: vertical-lr;
<<<<<<< HEAD

=======
>>>>>>> 8df497094bcc2a22ed1234587283802b1f54a03d
}