.cocktailContainer {

    padding: 10px;
    overflow: hidden;
    cursor: pointer;
    opacity: 1;
    -webkit-animation: flash 1.5s;
    animation: flash 1.5s;
}

@-webkit-keyframes flash {
    0% {
        opacity: .4;
    }

    100% {
        opacity: 1;
    }
}

@keyframes flash {
    0% {
        opacity: .4;
    }

    100% {
        opacity: 1;
    }
}



.cocktailName {
    font-family: 'Montserrat', sans-serif;
    color: white;
    display: inline;
    font-weight: bold;
    text-align: center;
    writing-mode: vertical-lr;
}

.image:hover {
    opacity: 1;
    -webkit-animation: flash 2s;
    animation: flash 2s;
    cursor: pointer;
}