.hero nav {
    display: flex;
    justify-content: space-between;
    padding-top: 5vh;
}

.headerLink {
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

.logo h2 {
    font-family: 'Playfair Display', serif;
    font-size: 10px;
}

.hero {
    background-color: #262B46;
    color: white;
    display: flex;
    flex-direction: column;
    height: 50vh;
}

.heading {
    margin: 3vh, 0, 3vh, 0;
}


h1 {
    font-family: 'Playfair Display', serif;
    font-size: 45px;
    line-height: 86px;
}

.heading p {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    padding-bottom: 50px;
}

.btn {
    margin-bottom: 5vh;
    padding-left: 5vh;
    font-family: 'Montserrat', sans-serif;
}

.btn input {
    border-radius: 8px;
    border: #262B46;
    padding: 6px 20px;
    margin-left: 2%;
}

.btn button {
    background-color: #6FC3DF;
    margin-left: 2vh;
    padding: 6px 20px;
    border-radius: 7px;
    border: #6FC3DF;
    color: #262B46;
    cursor: pointer;
}

.arrows img {
    display: block;
    flex-direction: column;
}

.arrows {
    margin-left: 49%;
}

@media only screen and (max-width:420px) {

    .hero {
        height: 50vh;
        margin-left: 5vh;
        margin-right: 5vh;
    }

    .btn {
        font-family: 'Montserrat', sans-serif;
        padding-left: 0;
    }

    .arrows {
        visibility: hidden;
    }
}