.Footer {
    background-color: #262B46;
}

.pFooter1 {
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    color: white;
    padding-top: 15vh;
    margin-left: 5%;
    margin-right: 48%;
}

.pFooter2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: white;
    padding-bottom: 8vh;
    padding-right: 6%;
    margin-left: 5%;
    margin-top: 2vh;
}