.Footer {
    background-color: #262B46;
    width: 80%;
}

.pFooter1 {
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    color: white;
    padding-top: 10vh;
}

.pFooter2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: white;
    text-align: justify;
    padding-bottom: 10vh;
}

@media only screen and (max-width:420px) {

    .Footer {
        height: 50vh;
        margin-left: 10vw;
        margin-right: 10vw;
    }




    /*     .pFooter1 {
        padding: 1vh;
    }

    

   
        font-family: 'Montserrat', sans-serif;
        color: white;
        text-align: justify;
        padding-bottom: 5vh;
        margin: auto;
    } */
}