@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display:wght@400;700&display=swap');

/* font-family: 'Montserrat',
sans-serif;
font-family: 'Playfair Display',
serif; */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

body{
  background-color: #262B46; 
  margin-left: 5vh;
  margin-right: 5vh;
}



.style1 {
  background-color: #6FC3DF;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

.style2 {
  background-color: #8D82C4;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

.style3 {
  background-color: #EC8D81;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

.style4 {
  background-color: #E7B788;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

.style5 {
  background-color: #8EA9E8;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

.style6 {
  background-color: #87C5A4;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

.right {
  height: 320px;
  display: flex;
  flex-direction: row-reverse;
  padding-left: 5vh;
  padding-right: 5vh;
  align-items: center;
  justify-content: space-between;
  text-align: right;
}

.left {
  height: 320px;
  display: flex;
  padding-left: 5vh;
  padding-right: 5vh;
  align-items: center;
  justify-content: space-between;
}


@media only screen and (max-width:420px) {
  body{
    background-color: #262B46; 
    margin-left: 0;
    margin-right: 0;
  }
}